@import "tailwindcss";

/* Hide scrollbar for Chrome, Safari, and Opera */
::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge */
html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

:root {
    --background: #ffffff;
    --foreground: #171717;
    --secondary: #1F2A37;
    --primary: #FFC107;
    --text-color: #1C1F26;
    --text-neutral: #ffffff;
    --text-gray: #B5BCC1;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-secondary: var(--secondary);
    --color-primary: var(--primary);

    --color-text_color: var(--text-color);
    --color-neutral-50: var(--text-neutral);

    --color-gray-50: var(--text-gray);

    --font-family-sans: var(--font-syne), sans-serif;
    --font-family-mono: var(--font-syne), monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
    font-family: var(--font-syne), sans-serif;
}
